.wrapper{
    background:white;
    margin: 0 5px;
    border: 1px solid whitesmoke;
}

.wrapper h1{
    font-weight: 400;
    color: gray;
    font-size: 25px;
    margin: 15px 0;
    padding: 0 10px;
}

.wrapper iframe{
    border: 0;
}