.newslist-item{
    border:1px solid #f2f2f2;
    background: whitesmoke;
    margin-top: 0px;
    padding: 8px 5px 0 5px;
}

.newslist-item h2{
    font-size: 15px;
    line-height: 19px;
    margin: 4px 0;
    color: dimgrey;
}

.newslist-item a{
    text-decoration: none;
}