.postData{
    border: 1px solid whitesmoke;
    border-bottom: 0px;
    background: white;
    margin: 0 5px 0 5px;
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
}

.postData span{
    font-weight: 500;
}