.teamHeader{
    border: 1px solid whitesmoke;
    border-bottom: 0px;
    background: white;
    margin: 5px 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide{
    width: 55px;
    height: 50px;
    background-size: 65%!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}

.rightSide{
    flex-grow: 1;
    padding-left: 10%;
    font-size: 10px;
    font-weight: 300;
}

