.team{
    font-size: 11px;
}

.team i{
    margin-right: 5px;
}

.teamName{
    margin-right: 7px;
    background: #d1d1d1;
    color: orangered;
    padding: 2px 5px;
}

.date{
color: deepskyblue;
}

